@import 'foundation';

@include foundation-everything;

html {
  min-height: 100%;
}
body {
  height: auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 70px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  font-size: .8rem;
}
.row .row.collapse {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
[role="nav"] {
  margin: 0;
  padding: 0;
  list-style: none;
}
[role="nav"] li {
  display: inline-block;
  padding: 5px 10px;
}
[draggable] {
  user-select: none;
}
#app {
  position: relative;
  border: 1px solid #999;
  padding-top: 0.9375rem;
}

a.slideLink {
  display: inline-block;
  max-width: 20%;
  float: left;
  padding: 2px;
}
#app img {
  width: 100%;
  height: auto;
}
.nivoSlider {
  margin-bottom: 0.9375rem;
}
.nivoSlider::after {
  clear: both;
}
.nivoSlider::after, .nivoSlider::before {
  content: " ";
  display: table;
  flex-basis: 0;
  order: 1;
}
.nivoSlider h2, .nivoSlider section {
  display: none;
}
#app .dragging-over {
  z-index: 10;
}
#app .dragging-over img {
  outline: 1px solid darkgray;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
}
#app textarea {
  width: 100%;
  height: 550px;
  padding: 10px;
}
.button {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8;
  padding: 0.625rem 1.25rem;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-edit {
  font-size: 16px;
  color: #555;
  background-color: rgba(0,0,0,0);
}
[href="#close"] .icon-edit {
  color: #999;
}
.editable-item {
  position: relative;
  display: inline-block;
}
.toolbar {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  width: 100%;
}
.toolbar i {
  display: inline-block;
  line-height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}
i:hover {
  cursor: pointer;
}
.homepage .editable-item {
  display: inline-block;
}
.homepage .toolbar {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.edit-box {
  position: relative;
}
.edit-box > div {
  background-color: white;
  padding-top: 30px;
  width: 100%;
  min-height: 100%;
}
#slider > a:last-of-type .edit-box,
#slider > a:last-of-type .edit-box > div {
  left: auto;
  right: 0;
}
.edit-box label {
  text-transform: uppercase;
}
.edit-box input, .edit-box button {
  margin-bottom: 10px;
}
.edit-box [title="Close"] {
  position: absolute;
  top: 10px;
  right: 10px;
}

.editable-item:hover .toolbar {
  display: inline-block;
}
.main_content {
  padding-top: 100px;
}
.main_content div {
  position: relative;
}
.lev1_merch_poptitle {
  overflow: hidden;
  position: relative;
}
.popTitle::before {
  background: #0184c3 none repeat scroll 0 0;
  content: "ï„";
  display: block;
  font-family: fontawesome;
  font-size: 15px;
  margin-top: -0.95em;
  padding: 1.25% 2% 1.25% 2.5%;
  position: absolute;
  right: 2.5%;
  top: 50%;
}

.popTitle {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: -4em;
  color: #fff;
  display: block;
  font-size: 1.45em;
  left: 0;
  padding: 3% 12% 3% 2%;
  position: absolute;
  transition: bottom 0.5s ease 0s;
  width: 100%;
  z-index: 10;
}
.lev1_merch_poptitle a:hover .poptitle {
  bottom: 0;
}

.text-center {
  text-align: center;
}
.top-bar {
  background: #222 none repeat scroll 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #fafafa;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 3rem;
}
.top-bar, .top-bar ul {
  background-color: #222;
}
.top-bar .react-link {
  color: #00d8ff;
  display: inline-block;
  font-size: 24px;
  height: 38px;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  padding: 0 1rem 0 0;
}
.top-bar .react-link img {
  display: inline-block;
  vertical-align: middle;
}
.tabs {
  display: inline-block;
}
.tabs-title > a {
  font-weight: bold;
  font-size: 1rem;
}

/* FileBrowser button */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  border: 1px solid transparent;
}


.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.inputfile-1 + label {
  color: #fefefe;
  background-color: #2199e8;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #1583cc;
}
